.header  {
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 10px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 5px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

div {
  display: flex;
  box-sizing: content-box;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}

/* .right-links {
  padding-left: 0;
  padding-right: 40px;
} */